body {
  text-align: center;
}

h1 {
  font-family: 'Megrim', cursive;
  font-weight: 800;
}

h2 {
  font-family: 'Poiret One', cursive;
  font-weight: 900;
  font-size: 30px;
}

h3 {
  font-family: 'Poiret One', cursive;
}

label {
  text-align: left;
  font-size: 30px;
  font-family: 'Poiret One', cursive;

}

.container {
  max-width: 720px;
}

body {
    background-color: #fc0;
}
